{% extends 'base.html.twig' %}

{% block body %}
    <h3 style="color: #FF0000FF !important;">Erreur 403 : non autorisé.</h3>
    <p>
        Vous n'avez pas les autorisations pour accéder à cette page.
    </p>
{% endblock %}