{% extends 'base.html.twig' %}

{% block body %}
    <h3 style="color: #FF0000FF !important;">Erreur 404 : cette page n'existe pas.</h3>
    <p>
        La page que vous recherchez semble introuvable. Sans détour, il n'est point de voyage... Retournez à la page d'accueil.
    </p>
{% endblock %}